@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
    --main: #3C69AD;
    --bg: #d1eeec;
    --black: #000;
    --main2: #1e8a87;
    --white: #ffffff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

main{
    box-sizing: border-box;
}
.wrapper{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.wrapper h1{
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 600;
    color: var(--main);
}
.wrapper .parrafo{
    font-weight: 500;
    color: var(--main2);
    margin: 0px 120px;
    text-align: center;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg);
    margin: 10px 4px;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
}
.card i{
    margin: 20px;
    color: var(--main);
}
.card .bx{
    height: 5rem;
    font-size: 4rem;
    color: var(--main);
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    color: var(--main2);
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: var(--white);
}
.card:hover h2{
    font-weight: 600;
    color: var(--bg);
}
.card:nth-child(1):hover{
    background: linear-gradient(90deg,rgba(60, 105, 173, 0.8) 0%, rgba(30, 138, 135, 0.8) 100%), url('../img/p1.jpg');
    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,rgba(60, 105, 173, 0.8) 0%, rgba(30, 138, 135, 0.8) 100%), url('../img/p2.jpg');
    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,rgba(60, 105, 173, 0.8) 0%, rgba(30, 138, 135, 0.8) 100%), url('../img/p3.jpg');
    background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg,rgba(60, 105, 173, 0.8) 0%, rgba(30, 138, 135, 0.8) 100%), url('../img/p4.jpg');
    background-size: cover;
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg,rgba(60, 105, 173, 0.8) 0%, rgba(30, 138, 135, 0.8) 100%), url('../img/p5.jpg');
    background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg,rgba(60, 105, 173, 0.8) 0%, rgba(30, 138, 135, 0.8) 100%), url('../img/p6.jpg');
    background-size: cover;
}

@media(max-width: 800px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}